* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#hero img {
    width: 348px;
    height: 223px;
  
}

#hero {

    width: 592px;
    height: 579px;
    border: solid 1px red;
    margin: auto;

   
}
